# `2. Pandas` (판다스)

## `1. import`

In [5]:
import numpy as np
import pandas as pd

Pandas 의 사용이유 : np 로 만든 array 를 보기편하게하고 더 쉽게 자료를 찾고 정리하고 시각화에 까지 도움을 주기 위해서

예시

In [6]:
np.random.seed(50)
출석 = np.random.choice(np.arange(10,21)*5,20)
중간고사 = np.random.choice(np.arange(0,21)*5,20)
기말고사 = np.random.choice(np.arange(0,21)*5,20)
key = ['2024-10'+str(s) for s in np.random.choice(np.arange(300,501),20,replace=False)]

In [9]:
dct = {'출석':{key[i]:출석[i] for i in range(20)}, 
       '중간고사':{key[i]:중간고사[i] for i in range(20)}, 
       '기말고사':{key[i]:기말고사[i] for i in range(20)}}
#dct

In [10]:
dct

{'출석': {'2024-10474': 50,
  '2024-10324': 50,
  '2024-10381': 55,
  '2024-10334': 70,
  '2024-10484': 80,
  '2024-10360': 75,
  '2024-10320': 80,
  '2024-10430': 80,
  '2024-10308': 75,
  '2024-10448': 60,
  '2024-10434': 100,
  '2024-10310': 85,
  '2024-10366': 70,
  '2024-10333': 65,
  '2024-10329': 100,
  '2024-10374': 100,
  '2024-10442': 80,
  '2024-10460': 70,
  '2024-10385': 55,
  '2024-10309': 75},
 '중간고사': {'2024-10474': 50,
  '2024-10324': 45,
  '2024-10381': 0,
  '2024-10334': 30,
  '2024-10484': 95,
  '2024-10360': 10,
  '2024-10320': 75,
  '2024-10430': 45,
  '2024-10308': 15,
  '2024-10448': 95,
  '2024-10434': 95,
  '2024-10310': 10,
  '2024-10366': 60,
  '2024-10333': 0,
  '2024-10329': 15,
  '2024-10374': 10,
  '2024-10442': 50,
  '2024-10460': 80,
  '2024-10385': 70,
  '2024-10309': 95},
 '기말고사': {'2024-10474': 0,
  '2024-10324': 0,
  '2024-10381': 55,
  '2024-10334': 35,
  '2024-10484': 95,
  '2024-10360': 70,
  '2024-10320': 65,
  '2024-10430': 35,
  '2024-10308': 20,
  '2024-10448': 20,
  '2024-10434': 0,
  '2024-10310': 55,
  '2024-10366': 0,
  '2024-10333': 65,
  '2024-10329': 95,
  '2024-10374': 65,
  '2024-10442': 95,
  '2024-10460': 5,
  '2024-10385': 45,
  '2024-10309': 100}}

In [11]:
dct['출석']['2024-10460']

70

In [12]:
dct['중간고사']['2024-10460']

80

# 판다스로 해결

In [14]:
df = pd.DataFrame(dct) # df = dataframe 의 약자
df.head()

            출석  중간고사  기말고사
2024-10474  50    50     0
2024-10324  50    45     0
2024-10381  55     0    55
2024-10334  70    30    35
2024-10484  80    95    95

In [17]:
df['중간고사'].head()

2024-10474    50
2024-10324    45
2024-10381     0
2024-10334    30
2024-10484    95
Name: 중간고사, dtype: int64

In [18]:
df[['중간고사']].head()

            중간고사
2024-10474    50
2024-10324    45
2024-10381     0
2024-10334    30
2024-10484    95

# `df.iloc` 과 `df.loc`

In [32]:
df.head(6)

            출석  중간고사  기말고사
2024-10474  50    50     0
2024-10324  50    45     0
2024-10381  55     0    55
2024-10334  70    30    35
2024-10484  80    95    95
2024-10360  75    10    70

In [30]:
df.iloc[0,1]

50

In [33]:
df.iloc[0:3,2]

2024-10474     0
2024-10324     0
2024-10381    55
Name: 기말고사, dtype: int64

In [36]:
df.loc['2024-10474']

출석      50
중간고사    50
기말고사     0
Name: 2024-10474, dtype: int64

In [40]:
df.loc['2024-10474','중간고사']

50

In [46]:
df.loc[:,['출석']]

             출석
2024-10474   50
2024-10324   50
2024-10381   55
2024-10334   70
2024-10484   80
2024-10360   75
2024-10320   80
2024-10430   80
2024-10308   75
2024-10448   60
2024-10434  100
2024-10310   85
2024-10366   70
2024-10333   65
2024-10329  100
2024-10374  100
2024-10442   80
2024-10460   70
2024-10385   55
2024-10309   75

In [47]:
df.loc[:,['출석','중간고사']]

             출석  중간고사
2024-10474   50    50
2024-10324   50    45
2024-10381   55     0
2024-10334   70    30
2024-10484   80    95
2024-10360   75    10
2024-10320   80    75
2024-10430   80    45
2024-10308   75    15
2024-10448   60    95
2024-10434  100    95
2024-10310   85    10
2024-10366   70    60
2024-10333   65     0
2024-10329  100    15
2024-10374  100    10
2024-10442   80    50
2024-10460   70    80
2024-10385   55    70
2024-10309   75    95

In [48]:
# 제작중