# `2. Pandas` (판다스)

## `1. import`

In [1]:
import numpy as np
import pandas as pd

Pandas 의 사용이유 : np 로 만든 array 를 보기편하게하고 더 쉽게 자료를 찾고 정리하고 시각화에 까지 도움을 주기 위해서

예시

In [2]:
np.random.seed(50)
출석 = np.random.choice(np.arange(10,21)*5,20)
중간고사 = np.random.choice(np.arange(0,21)*5,20)
기말고사 = np.random.choice(np.arange(0,21)*5,20)
key = ['2024-10'+str(s) for s in np.random.choice(np.arange(300,501),20,replace=False)]

In [3]:
dct = {'출석':{key[i]:출석[i] for i in range(20)}, 
       '중간고사':{key[i]:중간고사[i] for i in range(20)}, 
       '기말고사':{key[i]:기말고사[i] for i in range(20)}}
#dct

In [4]:
dct

{'출석': {'2024-10474': 50,
  '2024-10324': 50,
  '2024-10381': 55,
  '2024-10334': 70,
  '2024-10484': 80,
  '2024-10360': 75,
  '2024-10320': 80,
  '2024-10430': 80,
  '2024-10308': 75,
  '2024-10448': 60,
  '2024-10434': 100,
  '2024-10310': 85,
  '2024-10366': 70,
  '2024-10333': 65,
  '2024-10329': 100,
  '2024-10374': 100,
  '2024-10442': 80,
  '2024-10460': 70,
  '2024-10385': 55,
  '2024-10309': 75},
 '중간고사': {'2024-10474': 50,
  '2024-10324': 45,
  '2024-10381': 0,
  '2024-10334': 30,
  '2024-10484': 95,
  '2024-10360': 10,
  '2024-10320': 75,
  '2024-10430': 45,
  '2024-10308': 15,
  '2024-10448': 95,
  '2024-10434': 95,
  '2024-10310': 10,
  '2024-10366': 60,
  '2024-10333': 0,
  '2024-10329': 15,
  '2024-10374': 10,
  '2024-10442': 50,
  '2024-10460': 80,
  '2024-10385': 70,
  '2024-10309': 95},
 '기말고사': {'2024-10474': 0,
  '2024-10324': 0,
  '2024-10381': 55,
  '2024-10334': 35,
  '2024-10484': 95,
  '2024-10360': 70,
  '2024-10320': 65,
  '2024-10430': 35,
  '2024-10308': 20,
  '2024-10448': 20,
  '2024-10434': 0,
  '2024-10310': 55,
  '2024-10366': 0,
  '2024-10333': 65,
  '2024-10329': 95,
  '2024-10374': 65,
  '2024-10442': 95,
  '2024-10460': 5,
  '2024-10385': 45,
  '2024-10309': 100}}

In [5]:
dct['출석']['2024-10460']

70

In [6]:
dct['중간고사']['2024-10460']

80

# 판다스로 해결

In [7]:
df = pd.DataFrame(dct) # df = dataframe 의 약자
df.head()

            출석  중간고사  기말고사
2024-10474  50    50     0
2024-10324  50    45     0
2024-10381  55     0    55
2024-10334  70    30    35
2024-10484  80    95    95

In [8]:
df['중간고사'].head()

2024-10474    50
2024-10324    45
2024-10381     0
2024-10334    30
2024-10484    95
Name: 중간고사, dtype: int64

In [9]:
df[['중간고사']].head()

            중간고사
2024-10474    50
2024-10324    45
2024-10381     0
2024-10334    30
2024-10484    95

# `df.iloc` 과 `df.loc`

In [10]:
df.head(6)

            출석  중간고사  기말고사
2024-10474  50    50     0
2024-10324  50    45     0
2024-10381  55     0    55
2024-10334  70    30    35
2024-10484  80    95    95
2024-10360  75    10    70

In [11]:
df.iloc[0,1]

50

In [12]:
df.iloc[0:3,2]

2024-10474     0
2024-10324     0
2024-10381    55
Name: 기말고사, dtype: int64

In [13]:
df.loc['2024-10474']

출석      50
중간고사    50
기말고사     0
Name: 2024-10474, dtype: int64

In [14]:
df.loc['2024-10474','중간고사']

50

In [15]:
df.loc[:,['출석']]

             출석
2024-10474   50
2024-10324   50
2024-10381   55
2024-10334   70
2024-10484   80
2024-10360   75
2024-10320   80
2024-10430   80
2024-10308   75
2024-10448   60
2024-10434  100
2024-10310   85
2024-10366   70
2024-10333   65
2024-10329  100
2024-10374  100
2024-10442   80
2024-10460   70
2024-10385   55
2024-10309   75

In [16]:
df.loc[:,['출석','중간고사']]

             출석  중간고사
2024-10474   50    50
2024-10324   50    45
2024-10381   55     0
2024-10334   70    30
2024-10484   80    95
2024-10360   75    10
2024-10320   80    75
2024-10430   80    45
2024-10308   75    15
2024-10448   60    95
2024-10434  100    95
2024-10310   85    10
2024-10366   70    60
2024-10333   65     0
2024-10329  100    15
2024-10374  100    10
2024-10442   80    50
2024-10460   70    80
2024-10385   55    70
2024-10309   75    95

# [1] pandas 로 dataframe 을 만든다.
- `dictionary` 이용

In [18]:
pd.DataFrame({'출석':[30,40,50],'중간':[50,60,70]})

   출석  중간
0  30  50
1  40  60
2  50  70

In [19]:
pd.DataFrame({'출석':np.array([30,40,50]),'중간':np.array([50,60,70])})

   출석  중간
0  30  50
1  40  60
2  50  70

- np 의 `ndarray(n차원의 array)` 를 이용하여 만든다.

In [23]:
np.arange(6).reshape(2,3)

array([[0, 1, 2],
       [3, 4, 5]])

In [24]:
pd.DataFrame(np.arange(2*3).reshape(2,3))

   0  1  2
0  0  1  2
1  3  4  5

`-` 열이름 바꾸기

In [26]:
pd.DataFrame(np.arange(2*3).reshape(2,3),columns=['예시1','예시2','예시3'])

   예시1  예시2  예시3
0    0    1    2
1    3    4    5

In [27]:
df=pd.DataFrame(np.arange(2*3).reshape(2,3))
df

   0  1  2
0  0  1  2
1  3  4  5

In [28]:
df.columns = ['예시1','예시2','예시3']
df

   예시1  예시2  예시3
0    0    1    2
1    3    4    5

# 행이름넣기

1. index 로 직접 지정

In [31]:
pd.DataFrame({'출석':[50,30,20] , '중간':[95,88,85]},index=['우빈','준서','준한'])

    출석  중간
우빈  50  95
준서  30  88
준한  20  85

2. `pd.Index` 로 함수사용하기

In [32]:
df=pd.DataFrame({'출석':[50,30,20] , '중간':[95,88,85]})
df

   출석  중간
0  50  95
1  30  88
2  20  85

In [ ]:
df.index = pd.Index(['우빈','준서','준한'])

`3. set_index 이용하기` - 개인적으로 가장 좋아하는 방법입니다.

In [36]:
df=pd.DataFrame({'출석':[50,30,20] , '중간':[95,88,85]})
df

   출석  중간
0  50  95
1  30  88
2  20  85

In [37]:
df.set_index(pd.Index(['우빈','준서','준한']))

    출석  중간
우빈  50  95
준서  30  88
준한  20  85

In [38]:
df

   출석  중간
0  50  95
1  30  88
2  20  85

In [43]:
df.set_index(['guebin','iu','hynn']) #의도적인 에러. 꺽쇠가 문제

KeyError: "None of ['guebin', 'iu', 'hynn'] are in the columns"

In [44]:
df.set_index([['guebin','iu','hynn']])

        출석  중간
guebin  50  95
iu      30  88
hynn    20  85

In [45]:
df

   출석  중간
0  50  95
1  30  88
2  20  85

# 우리의 목적

#### `-` pandas 를 이용하여 데이터를 정제하는 것이 가장 큰 목적입니다.

`예시1` : 밑의 자료를 보고  c혹은 d로 시작하는 열은 몇개 있는지 세어보라.
<br>
`예시2` :  `actor`라는 단어가 포함된 열이 몇개있는지 세어보라.
<br>
`예시3` :  `actor`라는 단어가 포함된 열을 출력하라.

In [49]:
df=pd.read_csv('https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook/master/data/movie.csv')
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

# `[문제]`

예시1 : 밑의 자료를 보고 c혹은 d로 시작하는 열은 몇개 있는지 세어보라.

In [52]:
[l for l in df.columns if l[0]=='c' or l[0]=='d'] #list comprehension 문

['color',
 'director_name',
 'duration',
 'director_facebook_likes',
 'cast_total_facebook_likes',
 'country',
 'content_rating']

In [53]:
len([l for l in df.columns if l[0]=='c' or l[0]=='d'])

7

예시2 : actor라는 단어가 포함된 열이 몇개있는지 세어보라.
.

In [54]:
[l for l in df.columns if 'actor' in l]

['actor_3_facebook_likes',
 'actor_2_name',
 'actor_1_facebook_likes',
 'actor_1_name',
 'actor_3_name',
 'actor_2_facebook_likes']

예시3 : actor라는 단어가 포함된 열을 출력하라.

In [57]:
df[[l for l in df.columns if 'actor' in l]]

,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,actor_3_name,actor_2_facebook_likes
0,855.0,Joel David Moore,1000.0,CCH Pounder,Wes Studi,936.0
1,1000.0,Orlando Bloom,40000.0,Johnny Depp,Jack Davenport,5000.0
2,161.0,Rory Kinnear,11000.0,Christoph Waltz,Stephanie Sigman,393.0
3,23000.0,Christian Bale,27000.0,Tom Hardy,Joseph Gordon-Levitt,23000.0
4,NaN,Rob Walker,131.0,Doug Walker,NaN,12.0
...,...,...,...,...,...,...
4911,318.0,Daphne Zuniga,637.0,Eric Mabius,Crystal Lowe,470.0
4912,319.0,Valorie Curry,841.0,Natalie Zea,Sam Underwood,593.0
4913,0.0,Maxwell Moody,0.0,Eva Boehnke,David Chandler,0.0
4914,489.0,Daniel Henney,946.0,Alan Ruck,Eliza Coupe,719.0
4915,16.0,Brian Herzlinger,86.0,John August,Jon Gunn,23.0

In [58]:
## 이런 것이 자유자재로 되어야합니다.

# query

예제1: 출석==90 and 기말>30

In [62]:
np.random.seed(43052)
출석 = np.random.choice(np.arange(10,21)*5,20)
과제 = np.random.choice(np.arange(5,21)*5,20)
중간 = np.random.choice(np.arange(0,21)*5,20)
기말 = np.random.choice(np.arange(0,21)*5,20)
번호 = ['2022-12'+str(s) for s in np.random.choice(np.arange(300,501),20,replace=False)]
df = pd.DataFrame({'출석':출석,'과제':과제,'중간':중간,'기말':기말},index=번호)
df.head()

            출석   과제  중간   기말
2022-12380  65   55  50   40
2022-12370  95  100  50   80
2022-12363  65   90  60   30
2022-12488  55   80  75   80
2022-12312  80   30  30  100

In [64]:
df.query('출석 ==90 and 기말 >30') #쉽게 나옵니다.

            출석  과제  중간  기말
2022-12354  90  90  80  90

In [66]:
df.query('(중간+기말)/2>=60')

            출석   과제  중간   기말
2022-12370  95  100  50   80
2022-12488  55   80  75   80
2022-12312  80   30  30  100
2022-12463  65   45  45   90
2022-12396  95   30  30   95
2022-12354  90   90  80   90

### 자신이 만든 함수도 사용가능합니다.

In [67]:
_mean = df['중간'].mean() 
_mean

44.75

In [69]:
df.query('출석> @_mean')

            출석   과제   중간   기말
2022-12380  65   55   50   40
2022-12370  95  100   50   80
2022-12363  65   90   60   30
2022-12488  55   80   75   80
2022-12312  80   30   30  100
2022-12377  75   40  100   15
2022-12463  65   45   45   90
2022-12471  60   60   25    0
2022-12400  95   65   20   10
2022-12469  90   80   80   20
2022-12318  55   75   35   25
2022-12432  95   95   45    0
2022-12443  95   55   15   35
2022-12367  50   80   40   30
2022-12458  50   55   15   85
2022-12396  95   30   30   95
2022-12482  50   50   45   10
2022-12452  65   55   15   45
2022-12387  70   70   40   35
2022-12354  90   90   80   90

# `-` 머신러닝에서 많이 사용되는 `시계열자료`

In [74]:
pd.date_range('20240301',periods=10)

DatetimeIndex(['2024-03-01', '2024-03-02', '2024-03-03', '2024-03-04',
               '2024-03-05', '2024-03-06', '2024-03-07', '2024-03-08',
               '2024-03-09', '2024-03-10'],
              dtype='datetime64[ns]', freq='D')

In [75]:
df=pd.DataFrame(np.random.normal(size=(10,4)),columns=list('ABCD'),index=pd.date_range('20240301',periods=10))
df

                   A         B         C         D
2024-03-01  0.117038 -0.350165  0.410882 -0.763975
2024-03-02  0.766821  1.032189  0.404380 -0.134916
2024-03-03 -0.767637 -0.642942 -0.247824 -1.457658
2024-03-04 -0.091060  0.323402 -0.774021  0.659558
2024-03-05 -0.794595 -2.605380  0.283726 -1.832944
2024-03-06  0.292831  0.287421  0.283594 -0.746875
2024-03-07 -0.918335  0.402325  0.485921  0.122862
2024-03-08 -0.701718  0.740156 -0.898490  1.038380
2024-03-09 -0.441720  0.319821  0.705463 -0.027263
2024-03-10 -0.148996  0.234815 -1.412675 -0.706377

In [77]:
df.query("index <= '2024-03-03' or index=='2024-03-07'")

                   A         B         C         D
2024-03-01  0.117038 -0.350165  0.410882 -0.763975
2024-03-02  0.766821  1.032189  0.404380 -0.134916
2024-03-03 -0.767637 -0.642942 -0.247824 -1.457658
2024-03-07 -0.918335  0.402325  0.485921  0.122862

# 이 후 강의만드는 중 ..
# pivot_table 이나 stack , unstack 등 비직관적인 아이디어를 이용하여 table 정리하기
# 이 후 table 만든 방법을 이용하여 이전의 머신러닝의 table 정리하고 시각화하는 것으로 종료  (머신러닝 데이터로 자신이 원하는대로 시각화할 수 있는 table 만드는 것에 목적을 둔 pandas )

In [1]:
# pivot table 과 딥러닝 이어서 만들기 준비 중|